<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
    <title>ITA Sport diary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<my-app></my-app>
</body>
</html>
