
-----------------------------------------------LOCAL-HARDCODED
<br>
<div *ngFor="let record of Records">
    id: {{record.id}} <br>
    type:{{record.type}} <br>
    name:{{record.name}}<br>
    description: {{record.description}}<br>
    distance: {{record.distance}}<br>
    created:{{record.created}}<br>
    updated: {{record.updated}}<br>
    duration: {{record.duration}}<br>
</div>
<br>
<br>
------------------------------------------------HTTP
<br>
<div *ngFor="let recordhttp of myRecordsHttp">
    id: {{recordhttp.userId}} <br>
    type:{{recordhttp.id}} <br>
    name:{{recordhttp.title}}<br>
    description: {{recordhttp.body}}<br>
</div>

<!--
<div *ngFor="let recordhttp of myRecordsHttp">
    id: {{recordhttp.id}} <br>
    type:{{recordhttp.type}} <br>
    name:{{recordhttp.name}}<br>
    description: {{recordhttp.description}}<br>
    distance: {{recordhttp.distance}}<br>
    created:{{recordhttp.created}}<br>
    updated: {{recordhttp.updated}}<br>
    duration: {{recordhttp.duration}}<br>
</div>-->
